<div class="w-full h-[90vh] bg-opacity-50 bg-gradient-to-b from-gray-900 to-black flex flex-col items-center justify-center">

    <div class="text-white  w-[90%] p-5 flex flex-col items-center justify-around font-Poppins rounded-lg customShadow 800px:w-[30%]">
        <h1 class="text-[25px] font-[500] py-2">
            Comback to progress your Learnings...
        </h1>

        <div class="w-[50%] mt-5">
            <button  class="flex flex-row justify-center items-center py-3 px-6 rounded-full cursor-pointer bg-[#2190ff] min-h-[45px] w-full text-[16px] font-Poppins font-semibold"
            (click)="OnLogoutClick()">
                Logout
            </button>
        </div>
    </div>

</div>
