<div class="w-full h-[90vh] bg-opacity-50 bg-gradient-to-b from-gray-900 to-black flex flex-col items-center justify-around 800px:flex-row">
    <div class="w-[90%] 800px:w-[35%]">
        <img 
            src="../../assets/media/Hero-bg.png" 
            alt="Hero Image"
            class="object-contain rounded-xl">
    </div>
    <div class=" 800px:w-[50%]">
        <h2 class="text-white text-[28px] text-center px-3 w-full 1000px:text-[70px] font-[600] font-Josefin py-2 1000px:leading-[75px] 800px:text-left 800px:text-[40px]">
            Unleash your inner programming genius with our community.
        </h2>
        <br/>
        <p class="text-[#edfff4] font-Josefin font-[600] text-[18px] text-center 1500px:w-[55%] 1100px:w-[78%] px-3 800px:text-left">
            Empower your programming journey with KBLearning dedicated community and comprehensive resources.
        </p>
        <br>
        <br>

        <div class="1500px:w-[55%] 1100px:w-[70%] w-[90%] h-[50px] bg-transparent relative px-2 m-auto 800px:m-0">
            <input type="search"
                    placeholder="Search Courses..."
                    class="bg-slate-800 placeholder:text-[#ffffffdd] rounded-[5px] p-2 w-full h-full outline-none text-[#ffffffe6] text-[18px] font-[400] font-Josefin ">
        </div>
        <br><br>
        <div class="1500px:w-[55%] 1100px:w-[78%] w-[90%] flex items-center justify-center m-auto 800px:m-0 800px:justify-start">
            <div class="flex items-center">
                <img 
                src="../../assets/media/profile1.jpg" 
                alt="users"
                class="rounded-full w-7 h-7 800px:w-8 800px:h-8">
                <img 
                src="../../assets/media/profile2.jpg" 
                alt="users"
                class="rounded-full ml-[-10px] w-7 h-7 800px:w-8 800px:h-8">
                <img 
                src="../../assets/media/profile3.jpg" 
                alt="users"
                class="rounded-full ml-[-10px] w-7 h-7 800px:w-8 800px:h-8">
            </div>

            <p class="font-Josefin text-[#edfff4] 1000px:pl-3 text-[14px] ml-2 font-[600] 800px:text-[18px]">
                100k+ Online learners.
                <a routerLink="/courses" class="text-[#46e256]">View Courses</a>
            </p>
        </div>

    </div>
</div>

<!-- Courses Section -->

<div class="w-full h-[100vh] 1000px:flex flex-col items-center justify-around bg-opacity-50 bg-gradient-to-b from-black to-gray-900 border">

    <div class="1000px:w-[80%] flex flex-col items-left 1000px:mt-[0px] text-center  border">
        <h2 class="text-white text-[20px] px-3 w-full 1000px:text-[50px] font-[600] font-Josefin 1000px:leading-[55px]">
            Unlock Your Potential with Comprehensive Project-Based Courses for Career Growth
        </h2>
    </div>

    <div class="w-[80%] h-[70%] border flex items-center justify-between">
        <!-- Course Cards -->
        <div class="w-[32%] h-[77%] flex flex-col items-center justify-around border" (click)="redirectToCoursesPage()">
            <!-- Course Image -->
            <div class="w-[95%] h-[48%] rounded-md border">

            </div>
            <!-- Course Desc -->
            <div class="w-[95%] h-[42%] rounded-md flex flex-col items-center justify-between border">
                <p class="w-full h-[50%] border">

                </p>
                <div class="w-full h-[45%] flex items-center justify-between border"> 
                    <!-- Rating -->
                    <p class="w-[50%] h-full border"></p>
                    <!-- Users and Lectures Count -->
                    <p class="w-[50%] h-full flex items-center justify-between border"></p>
                </div>
            </div>
        </div>
        <div class="w-[32%] h-[77%] border" (click)="redirectToCoursesPage()"></div>
        <div class="w-[32%] h-[77%] border" (click)="redirectToCoursesPage()"></div>
    </div>

</div> 



<!-- Reviews Section -->
<!-- <div class="w-full h-[70vh] 1000px:flex items-center justify-around gap-5 bg-opacity-50 bg-gradient-to-b to-black from-gray-900 border"> -->
    <!-- Review Cards -->
    <!-- <div class="w-[25%] h-auto flex flex-col items-center justify-between border">
        <div class="w-full border">
            <p class="text-white">Software Analyst</p>
        </div>
        <p class="w-full text-white border">
            "Kb Learning LMS has been instrumental in my journey as a .NET developer. The step-by-step tutorials and hands-on labs are well-organized, allowing me to master complex concepts at my own pace. The platform's engaging exercises and expert-led sessions have significantly enhanced my skills. Almost perfect!"
        </p>
    </div> -->

<!-- </div> -->


<!-- FAQ Section-->

<!-- Footer Section -->